/**
 * Module dependencies
 */

@require 'shoelace-ui-font'
@require 'shoelace-ui-line-height'

/**
 * Define general variables
 */

$headings-font-family ?= inherit
$headings-font-weight ?= 500
$headings-line-height ?= 1.1
$headings-color       ?= inherit
$headings-small-color ?= inherit

/**
 * Define tag variables
 */

$headings-font-size-h1 ?= floor(($font-size-base * 2.6))  // ~36px
$headings-font-size-h2 ?= floor(($font-size-base * 2.15)) // ~30px
$headings-font-size-h3 ?= ceil(($font-size-base * 1.7))   // ~24px
$headings-font-size-h4 ?= ceil(($font-size-base * 1.25))  // ~18px
$headings-font-size-h5 ?= $font-size-base
$headings-font-size-h6 ?= ceil(($font-size-base * 0.85))  // ~12px
